<div id="jointjs-holder"></div>
<nz-dropdown-menu #contextMenuPlaceholder="nzDropdownMenu">
  <ul nz-menu class="unselectable" oncontextmenu="return false;">
    <ng-container *ngTemplateOutlet="recursiveContextMenu; context:{ $implicit: contextMenu.menu }"></ng-container>
    <ng-template #recursiveContextMenu let-menuItems>
      <ng-container *ngFor="let item of menuItems">
        <li *ngIf="item.children?.length > 0; else leaf" nz-submenu [nzTitle]="item.title || item.id" [nzDisabled]="item.disabled">
          <ul class="unselectable" oncontextmenu="return false;">
            <ng-container *ngTemplateOutlet="recursiveContextMenu; context:{ $implicit: item.children }"></ng-container>
          </ul>
        </li>
        <ng-template #leaf>
          <li nz-menu-item (click)="contextMenu.onClick(item.id, $event)"
              [nzDisabled]="item.disabled" [innerHTML]="item.title || item.id"></li>
        </ng-template>
      </ng-container>
    </ng-template>
  </ul>
</nz-dropdown-menu>
